<h1>Personajes</h1>
<% if !user_signed_in? and @personajes.empty? %>
  <%= render "visitor_token_form" %>
<% else %>
  <%= render "personajes_list" %>
<% end %>
<br>

<%= link_to 'Crear un nuevo Personaje', new_personaje_path %> | <%= link_to "Volver al Home", root_path %>
