<div class="container mt-4 border">
  <div class="container-content">
    <h1 class="m-3">Whiteboard TGC</h1> 
    <div class="container-fluid m-3">
      <div class="row board-container">
        <div class="board">Bienvenido a la plataforma de Juegos de cartas intercambiables más interesante de Chile.</div> 
      </div>
    </div>
    <span>
        <button type="button" class="btn btn-primary btn-lg">Crear Personaje</button>
        <button type="button" class="btn btn-success btn-lg">Ingresar</button>
    </span>
  </div>
</div>