<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @raza_personaje.descripcion %>
</p>

<%= link_to 'Edit', edit_raza_personaje_path(@raza_personaje) %> |
<%= link_to 'Back', raza_personajes_path %>
