<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_personaje.descripcion %>
</p>

<%= link_to 'Edit', edit_tipo_personaje_path(@tipo_personaje) %> |
<%= link_to 'Back', tipo_personajes_path %>
