<p>Hola <%= @resource.email %>!</p>

<p>Alguién solicitó un link para cambiar tu contraseña. Puedes hacerlo a través del siguiente enlace.</p>

<p><%= link_to 'Cambiar mi password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no fuiste tú quien lo solicitó, por favor ignorar este email.</p>
<p>Tu contraseña no cambiará mientras no accedas al link superior y crees una nueva.</p>
