<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta se ha bloqueado dado un número excesivo de intentos erróneos de acceso.</p>

<p>Haz click en el siguiente enlace para desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
